body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

h1 {
    color:black;
}
h2{
    color:black;
}

input {
    width: 300px;
    padding: 10px;
}

button {
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    color: aquamarine;
    background-color: black;
}

#status {
    font-weight: bold;
    margin-top: 15px;
}

.message {
    width: 300px;
    margin: 10px auto;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}