nav{
    display:flex;
    flex-direction: row;
    gap:100px;
    padding: 50px;
    background-color: antiquewhite;
    border-radius: 50px;
}

.hero-section{
    display: flex;
    gap: 200px;
}
#my-img{
    height: 300px;
    width:300px;
    border-radius: 300px;
}
#projects{
    font-size: xx-large;
    font-style: italic;
    font-weight: 600;
}
.one{
    display:flex;
    gap:250px;
    margin:50px;
}

